<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">

      <%= render 'layouts/header' %>

      <div class="padding"> &nbsp; <br />  </div>

      <section class="round">
        <%= image_tag("logo_banner.png", :alt => "Common Concept", :class => "round") %>
        <br />
        <%= yield %>
      </section>

      <%= render 'layouts/footer' %>

    </div>
  </body>
</html>
